$bymyside-color-green: #5CB85C !default;
$bymyside-color-red: #D9534f !default;
$bymyside-color-yellow: #F0AD4E !default;
$bymyside-color-blue: #5BC0DE !default;
$bymyside-color-rss: #FF7900 !default;
$bymyside-color-twitter: #55acee !default;
$bymyside-color-google-plus: #CC3732 !default;
$bymyside-color-facebook: #3B5999 !default;
$bymyside-color-dribbble: #EA4C89 !default;
$bymyside-color-dropbox: #007EE5 !default;
$bymyside-color-deviantart: #506256 !default;
$bymyside-color-bitbucket: #205081 !default;
$bymyside-color-instagram: #3f729b !default;
$bymyside-color-tumblr: #2C4762 !default;
$bymyside-color-youtube: #C4302B !default;
$bymyside-color-reddit: #FF4500 !default;
$bymyside-color-flickr: #FF0084 !default;
$bymyside-color-behance: #1769FF !default;
$bymyside-color-linkedin: #3399CC !default;
$bymyside-color-vine: #00b488 !default;
$bymyside-color-stack-overflow: #FE7A15 !default;
$bymyside-color-stumbleupon: #EB4924 !default;
$bymyside-color-skype: #00AFF0 !default;
$bymyside-color-pinterest: #CB2027 !default;