
// COMMON

$bymyside-with-brands: true !default;
$bymyside-custom-schemes: () !default;

// LEFT BYMYSIDE

$bymyside-left-enabled: true !default;
$bymyside-left-width: 60px !default;
$bymyside-left-item-height: $bymyside-left-width !default;
$bymyside-left-offset-top: 20px !default;
$bymyside-left-offset-bottom: 20px !default;
$bymyside-left-bg-color: #333 !default;
$bymyside-left-text-color: #DDD !default;
$bymyside-left-bg-color-hover: lighten($bymyside-left-bg-color, 7%) !default;
$bymyside-left-text-color-hover: lighten($bymyside-left-text-color, 7%) !default;
$bymyside-left-font-size: $bymyside-left-width / 2 !default;
$bymyside-left-border-radius: $bymyside-left-width / 6 !default;

// RIGHT BYMYSIDE

$bymyside-right-enabled: true !default;
$bymyside-right-width: 60px !default;
$bymyside-right-item-height: $bymyside-right-width !default;
$bymyside-right-offset-top: 20px !default;
$bymyside-right-offset-bottom: 20px !default;
$bymyside-right-bg-color: #333 !default;
$bymyside-right-text-color: #DDD !default;
$bymyside-right-bg-color-hover: lighten($bymyside-right-bg-color, 7%) !default;
$bymyside-right-text-color-hover: lighten($bymyside-right-text-color, 7%) !default;
$bymyside-right-font-size: $bymyside-right-width / 2 !default;
$bymyside-right-border-radius: $bymyside-right-width / 6 !default;